.idea
*.iml
out
build
.gradle
classes
local.properties

# The following files are generated/updated by vaadin-gradle-plugin
target

.bundle/
.jekyll-cache/

vok-example-crud/src/main/frontend/generated

!**/src/main/dev-bundle/webapp/VAADIN/build
