.idea
*.iml
out
build
.gradle
classes
local.properties

# The following files are generated/updated by vaadin-gradle-plugin
node_modules/
webpack.generated.js
target
pnpmfile.js

.bundle/
.jekyll-cache/

frontend/generated
